body {
  text-transform: capitalize;
  overflow: hidden;
  background-color: #ffff;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 375px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
  }
}

@media (min-width: 768px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
  }

  body {
    background-color: #fff;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  top: 37px;
  bottom: 30px;
  z-index: 1;
}

nav a {
  padding-right: 3%;
}

.logo a {
  font-size: 1.2rem;
  font-weight: 700;
}

.link nav a {
  text-decoration: none;
  display: inline-block;
  flex-direction: row;
}

.logo {
  margin-top: 20px;
  color: #6070ff;
  font-size: 16px;
}

.nav-bar .logo {
  flex-wrap: wrap;
  flex: 1;
  order: none;
  margin-left: 10px;
}

.dashboard {
  border: 0 solid #acb7c3;
  color: #6070ff;
}

.nav-bar .dashboard {
  margin-right: 10px;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url('./images/header-shapes\ mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 0;
  padding-top: 10px;
  margin-top: 32%;
  overflow: hidden;
  font-style: normal;
  font-size: 32px;
  text-transform: capitalize;
  line-height: 42px;
  color: #172b4d;
}

.intro > p {
  text-align: left;
  left: 10px;
  margin-top: 0;
  font-size: 14.3px;
  color: #344563;
}

h2 {
  color: #7f8ccf;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 400;
  font-style: normal;
  top: 20%;
  bottom: 20%;
}

.social-media-icons {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
}

.social-media-icons li {
  padding-right: 6%;
}

.link > a .one .two .three .four .five {
  background: #505f79;
}
