.row {
  text-align: center;
}

.blue-stripe {
  background-color: blue;
  float: left;
  width: 33.33%;
}

.red-stripe {
  background-color: blue;
  float: left;
  width: 33.33%;
}

.green-stripe {
  background-color: blue;
  float: left;
  width: 33.33%;
}